<app-intro></app-intro>

<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-1">
            <div class="card-body d-flex flex-column">
                <h2 class="card-title">SEDAN CARS</h2>
                <p class="card-text">A sedan is a four-door vehicle with a cargo area (trunk) that’s positioned behind the farthest rear pillars, often enclosed and separated from the passenger cabin. The enclosed trunk provides added privacy and security for your valuables.</p>
            </div>
            <div class="card-footer mt-auto">
                <button class="btn btn-primary btn-sm" (click)="toggleMoreInfo1()">More Info</button>
            </div>
        </div>

        <div *ngIf="showMoreInfo1" class="more-info-content ">
            <h3>SEDAN CARS</h3>
     
            <p>Additional information about SEDAN CARS:</p>
            <div class="image-container">
                
                <div class="image-wrapper  text-center">
                    
                    
                    <img src="https://th.bing.com/th/id/R.73bfda1d25e8bc9fb94ecec4bfe28662?rik=8MGh09SXvm81nQ&riu=http%3a%2f%2fimages.unsplash.com%2fphoto-1485291571150-772bcfc10da5%3fcrop%3dentropy%26cs%3dtinysrgb%26fit%3dmax%26fm%3djpg%26ixid%3dMnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjI5MzM1ODU3%26ixlib%3drb-1.2.1%26q%3d80%26w%3d1080&ehk=Txomurd8oxZ5kDJMIZR7eb57LCcFIbMGXShZX9q1DYM%3d&risl=&pid=ImgRaw&r=0" alt="Image 1">
                    <img src="https://img3.goodfon.com/wallpaper/nbig/a/79/avto-mercedes-benz-brabus-v12.jpg" alt="Image 2">
                    <img src="https://tse1.mm.bing.net/th/id/OIP.b98DWH5PUYo8mezgs3dSOQHaEu?pid=ImgDet&w=1332&h=850&rs=1" alt="Image 3">
                
                </div>
                <div class="button">
                    <button class="btn btn-primary" (click)="openDataUploadComponent()"> Upload Car Data</button>
                </div>
                
                <app-datauplode *ngIf="isDataUploadComponentOpen"></app-datauplode>
                
            
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-5">
        <div class="card h-1">
            <div class="card-body d-flex flex-column">
                <h2 class="card-title">Sport-Utility Vehicle</h2>
                <p class="card-text">SUVs also have raised ground clearance that makes getting in and out of the cabin and driving over rugged terrain easier.Their rugged body-on-frame platform and ideal type of vehicle for off-roading and driving in harsh weather conditions.</p>
            </div>
            <div class="card-footer mt-auto">
                <button class="btn btn-primary btn-sm" (click)="toggleMoreInfo2()">More Info</button>
            </div>
        </div>

        
    </div>

    <div class="col-md-4 mb-5">
        <div class="card h-1">
            <div class="card-body d-flex flex-column">
                <h3 class="card-title">Pickup Truck</h3>
                <p class="card-text">A pickup truck or pickup is a type of vehicle with an enclosed cab for passengers and an open cargo area with a tailgate (truck bed). In Australia and New Zealand, all varieties of pickup trucks are called utes, which is short for ‘utility vehicle’.</p>
            </div>
            <div class="card-footer mt-auto">
                <button class="btn btn-primary btn-sm" (click)="toggleMoreInfo3()">More Info</button>
            </div>
        </div>
    

    </div>    
</div>


<div *ngIf="showMoreInfo2" class="more-info-content">
    <h3>Sport-Utility Vehicle (SUV)</h3>

    <p>Additional information about Sport-Utility Vehicle (SUV):</p>
    <div class="image-container move">
        <div class="image-wrapper move">
            
            <img src="https://www.wallpaperflare.com/static/315/545/111/range-rover-evoque-hamann-black-range-wallpaper.jpg" alt="Image 1">
            <img src="https://files.hodoor.world/images/products/images-products-1-4152-232992824-landrover_rangerover_evoque_07.jpg" alt="Image 2">
            <img src="https://tse3.mm.bing.net/th/id/OIP.ZMZIR5H3xS9vvVU7Pozl6wAAAA?pid=ImgDet&rs=1" alt="Image 3">
           
              
       
        </div>

        <div class="button">
            <button class="btn btn-primary" (click)="openDataUploadComponent()"> Upload Car Data</button>
        </div>
        
        <app-datauplode *ngIf="isDataUploadComponentOpen"></app-datauplode>
        
    </div>
</div>


 <div *ngIf="showMoreInfo3" class="more-info-content "> 
    <h3>Pickup Truck</h3>
    <!-- <app-uplode></app-uplode> -->
    <p>Additional information about Pickup Truck:</p>
    <div class="image-container">
        <div class="image-wrapper text-center">
            <img src="https://c1.wallpaperflare.com/preview/971/170/559/car-truck-wheels-tyres.jpg" alt="Image 1">
           
            <img src="https://wallpaperaccess.com/full/1633459.jpg" alt="Image 3">
            <img src="https://wallpapercave.com/wp/wp7445761.jpg" alt="Image 4">
            <!-- <img src="https://i.pinimg.com/236x/97/2a/1f/972a1ffd4bde3999f9d90091068bb581.jpg" alt="Image 5"> -->
        </div>
        <div class="button">
            <button class="btn btn-primary" (click)="openDataUploadComponent()"> Upload Car Data</button>
        </div>
        
        <app-datauplode *ngIf="isDataUploadComponentOpen"></app-datauplode>
    </div>
</div> 





