.stylish-text {
    font-family: 'Helvetica', sans-serif;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.times-symbol {
    font-size: 24px;
    vertical-align: middle;
}