.image-container {
    width: 300px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-main {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* This ensures the image maintains its aspect ratio */
    margin-bottom: 10px; /* Add margin to create space between main image and smaller images */
  }
  