<!-- <div *ngFor="let imageUrl of imageUrls">
  <img [src]="imageUrl" alt="Image" />
</div> -->
<app-navbar></app-navbar>



<div class="container mt-4">
  <table class="table">
    <tbody>
      <tr *ngFor="let car of carsData">
        <div class="image-container">
        <td>
          <img src="http://localhost:3000/uploads/{{ car.filename }}" alt="{{ car.carName }}" class="img-thumbnail">
        </td>
        </div>
        <td>
          <ul class="list-group">
            <li class="list-group-item"><strong>Email:</strong> {{ car.email }}</li>
            <li class="list-group-item"><strong>Brand:</strong> {{ car.brand }}</li>
            <li class="list-group-item"><strong>Car Name:</strong> {{ car.carName }}</li>
            <li class="list-group-item"><strong>Car Model:</strong> {{ car.carModel }}</li>
            <li class="list-group-item"><strong>Fuel Type:</strong> {{ car.fuelType }}</li>
            <li class="list-group-item"><strong>Kilometres:</strong> {{ car.carkilometre }}</li>
            <li class="list-group-item"><strong>Price:</strong> {{ car.carPrice }}</li>
            <li class="list-group-item"><strong>Contact Details:</strong> {{ car.contactDetails }}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>





<div class="container mt-4">
  <table class="table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Email</th>
        <th>Brand</th>
        <th>Car Name</th>
        <th>Car Model</th>
        <th>Fuel Type</th>
        <th>Car Kilometre</th>
        <th>Car Price</th>
        <th>Contact Details</th>
      </tr>
    </thead>
    <tbody>
      <!-- Use *ngFor to loop through the data array -->
      <tr *ngFor="let car of carsData">
        <td>
          <!-- Display the first image with larger size -->
          <img *ngIf="car.images && car.images.length > 0" [src]="'http://localhost:3000/uploads/' + car.images[0].filename" 
               alt="{{ car.carName }}" class="img-thumbnail">
          <!-- Display other images with smaller size -->
          <div *ngIf="car.images && car.images.length > 1">
            <div *ngFor="let image of car.images.slice(1)">
              <img [src]="'http://localhost:3000/uploads/' + image.filename" alt="{{ car.carName }}" class="img-thumbnail mt-2">
            </div>
          </div>
        </td>
        <td>{{ car.email }}</td>
        <td>{{ car.brand }}</td>
        <td>{{ car.carName }}</td>
        <td>{{ car.carModel }}</td>
        <td>{{ car.fuelType }}</td>
        <td>{{ car.carkilometre }}</td>
        <td>{{ car.carPrice }}</td>
        <td>{{ car.contactDetails }}</td>
      </tr>
    </tbody>
  </table>


