<app-navbar></app-navbar>

<div class="container">
  <div class="car-upload-form">
    <h2>Upload Car Information</h2>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">

      <div class="box col-sm-12">

        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" id="email" name="email" class="form-control" required [(ngModel)]="car.email" placeholder="Enter Your Email Address To contact">
        </div>
        
         

          <div class="form-group">
            <label for="brand">Brand</label>
            <select id="brand" name="brand" class="form-control" required [(ngModel)]="car.selectedBrand" (change)="onSelectBrand(car.selectedBrand)">
              <option value="" disabled selected>Select a brand</option>
              <option *ngFor="let brand of carNames" [value]="brand">{{ brand }}</option>
            </select>
          </div>


          <div class="form-group">
            <label for="carName">Car Name</label>
            <select id="carName" name="carName" class="form-control" required [(ngModel)]="car.name">
              <option value="" disabled selected>Select a car name</option>
              <option *ngFor="let name of car.selectedCarNames" [value]="name">{{ name }}</option>
            </select>
          </div>

         
          <div class="form-group">
            <label for="carModel">Model</label>
            <input type="text" id="carModel" name="carModel" class="form-control" required [(ngModel)]="car.model">
          </div>

          <div class="form-group">
            <label for="fuelType">Fuel Type</label>
            <select id="fuelType" name="fuelType" class="form-control" required [(ngModel)]="car.fuelType">
              <option value="" disabled selected>Select fuel type</option>
              <option *ngFor="let type of fuelTypes" [value]="type">{{ type }}</option>
            </select>
          </div>
        
        <div class="form-group">
        <label for="carkilometre">Kilometre</label>
        <input type="number" id="carkilometre" name="carkilometre" class="form-control" required [(ngModel)]="car.kilometre">
       </div>
      

       <div class="form-group">
        <label for="carPrice">Price</label>
        <input type="number" id="carPrice" name="carPrice" class="form-control" required [(ngModel)]="car.price">
      </div>
       

      <div class="form-group">
        <label for="contactDetails">More Details</label>
        <textarea id="contactDetails" name="contactDetails" class="form-control" required [(ngModel)]="car.contactDetails"></textarea>
      </div>

    

      <!-- <div class="form-group custom-file-upload">
        <label for="fileUpload">Upload Images</label>
        
        <input type="file" (change)="onFileSelected($event)" name="fileUpload" />
        
      </div> -->
      <div class="form-group custom-file-upload">
        <label for="fileUpload" class="custom-file-label">Upload Images</label>
        <input type="file" (change)="onFileSelected($event)" name="fileUpload" id="fileUpload" class="custom-file-input" />
      </div>
      



      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

      </div>

    </form>
  </div>

  <div class="side-by-side-container" *ngIf="submitted">
    <div class="car-info">
      <h2>Car Information</h2>
      <div class="info-box">
        <table>
            <tr>
              <td><strong>Brand:</strong></td>
              <td>{{ car.selectedBrand }}</td>
            </tr>
            <tr>
              <td><strong>Car Name:</strong></td>
              <td>{{ car.name }}</td>
            </tr>
            <tr>
              <td><strong>Model:</strong></td>
              <td>{{ car.model }}</td>
            </tr>
            <tr>
              <td><strong>Fuel Type:</strong></td>
              <td>{{ car.fuelType }}</td>
            </tr>
            <tr>
              <td><strong>Kilometre:</strong></td>
              <td>{{ car.kilometre }}</td>
            </tr>
            <tr>
              <td><strong>Price:</strong></td>
              <td>{{ car.price }}</td>
            </tr>
            <tr>
              <td><strong>More Details:</strong></td>
              <td>{{ car.contactDetails }}</td>
            </tr>
          </table>
        </div>
      </div>
  
      <div class="selected-image">
        <h2>Selected Images</h2>
        <div class="image-box">
          <div *ngFor="let imgUrl of urls">
            <img [src]="imgUrl" alt="Selected Image" />
          </div>
        </div>
      </div>
    </div>
  </div>