<app-navbar></app-navbar>

<div class="container">
  <div class="car-upload-form">
    <h2>Upload Car Information</h2>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">

      <div class="box col-sm-12">

        <div class="form-group">
          <label for="email">Contact Details</label>
          <input type="email" id="email" name="email" class="form-control" required [(ngModel)]="car.email" placeholder="Email or Phone number">
        </div>
        
         

          <div class="form-group">
            <label for="brand">Brand</label>
            <select id="brand" name="brand" class="form-control" required [(ngModel)]="car.selectedBrand" (change)="onSelectBrand(car.selectedBrand)">
              <option value="" disabled selected>Select a brand</option>
              <option *ngFor="let brand of carNames" [value]="brand">{{ brand }}</option>
            </select>
          </div>


          <div class="form-group">
            <label for="carName">Car Name</label>
            <select id="carName" name="carName" class="form-control" required [(ngModel)]="car.name">
              <option value="" disabled selected>Select a car name</option>
              <option *ngFor="let name of car.selectedCarNames" [value]="name">{{ name }}</option>
            </select>
          </div>

         
          <div class="form-group">
            <label for="carModel">Model</label>
            <input type="text" id="carModel" name="carModel" class="form-control" required [(ngModel)]="car.model">
          </div>

          <div class="form-group">
            <label for="fuelType">Fuel Type</label>
            <select id="fuelType" name="fuelType" class="form-control" required [(ngModel)]="car.fuelType">
              <option value="" disabled selected>Select fuel type</option>
              <option *ngFor="let type of fuelTypes" [value]="type">{{ type }}</option>
            </select>
          </div>
        
        <div class="form-group">
        <label for="carkilometre">Kilometre</label>
        <input type="number" id="carkilometre" name="carkilometre" class="form-control" required [(ngModel)]="car.kilometre">
       </div>
      

       <div class="form-group">
        <label for="carPrice">Price</label>
        <input type="number" id="carPrice" name="carPrice" class="form-control" required [(ngModel)]="car.price">
      </div>
       

      <div class="form-group">
        <label for="contactDetails">More Details</label>
        <textarea id="contactDetails" name="contactDetails" class="form-control" required [(ngModel)]="car.contactDetails"></textarea>
      </div>

      <div class="form-group custom-file-upload">
        <label for="fileUpload1" class="custom-file-label">Upload Image </label>
        <input type="file" (change)="onFileSelected($event, 'fileUpload1')" name="fileUpload1" id="fileUpload1" class="custom-file-input" />
      </div>
      
      <!-- <div class="form-group custom-file-upload">
        <label for="fileUpload2" class="custom-file-label">Upload Image 2</label>
        <input type="file" (change)="onFileSelected($event, 'fileUpload2')" name="fileUpload2" id="fileUpload2" class="custom-file-input" />
      </div> -->



      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary" (click)="showAlert()">Submit</button>
      </div>
      

      </div>

    </form>
  </div>
