


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
      <img src="assets/x4-png.png" alt="" height="49px" width="49px">

      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        

          <div class="nav-item"><a class="nav-link" [routerLink]="['/about']">Home</a></div>
          <div class="nav-item"><a class="nav-link" [routerLink]="['/uplodecar']">Sell your car</a></div>
          <div class="nav-item"><a class="nav-link" [routerLink]="['/carlist']">Cars for sale</a></div>
          <div class="nav-item"><a class="nav-link" [routerLink]="['/gallery']">Gallery</a></div>
          <div class="nav-item"><a class="nav-link" [routerLink]="['/contact']">Contact</a></div>
          
          <div class="nav-item"><a class="nav-link" [routerLink]="['/login']">Logout</a></div>
          

        
        </ul>
      </div>
    </div>
  </nav>