<div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="https://c8.alamy.com/comp/MYCAM4/tattoo-studio-design-MYCAM4.jpg" class="img-fluid" alt="Tattoo Image">
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <h1>About</h1>
        </div>
        <br>
        <div class="card-body">
          <p class="card-text">From delicate gossamer species to bold and colorful designs, the papillon is one of the most beautiful animals on the planet. These creatures are unique just like you, so why not immortalize them by inking one on your body? There are many meanings behind this stunning concept, and it looks impressive in any art form. You’ve earned these wings – wear them with pride! If you’re planning on your first piece or adding to a collection, these beautiful butterfly tattoo designs will inspire you.</p>
        </div>
      </div>
    </div>
  </div>
  