

<div class="container">
  <div class="body d-md-flex align-items-center justify-content-between">
    <div class="box-1 mt-md-0 mt-5">
       <img src="https://tse4.mm.bing.net/th/id/OIP.zB2q9bZprQhRUe9UFZbkKwHaHa?pid=ImgDet&w=2048&h=2048&rs=1" 
       alt="Image 1"
       style="width: 300px; height: 438px;;" >
    </div>
    <div class="box-2 d-flex flex-column h-100">
      <div class="mt-5">
        <div class="d-flex flex-column">
          <h3>User Name</h3>
          <div class="input-group">
            <input type="text" class="form-control" id="name" placeholder="Enter your username">
          
          </div>
        </div>
        
        <div class="d-flex flex-column mt-4">
          <h3>Password</h3>
          <div class="input-group">
            <input type="password" class="form-control" id="password" placeholder="Enter your password">
            
          </div>
        </div>
        
        <div class="mt-3">
          <button (click)="login()" class="button-style">Login</button>
          
        </div>
      </div>
    </div>
    <div class="mt-auto">
      <p class="footer text-muted mb-0 mt-md-0 mt-4">By registering, you agree with our
        <span class="p-color me-1">terms and conditions</span>
        and
        <span class="p-color ms-1">privacy policy</span>
      </p>
    </div>
    <span class="fas fa-times"></span>
  </div>
</div>



