<div *ngIf="showAlert" class="alert-message">
  {{ alertMessage }}
</div>

<app-navbar></app-navbar>

<div class="container">
  <h1 class="text-center mt-4">GET IN TOUCH</h1>

  <div class="row mt-4">
    <div class="col-md-6">
      <img src="assets/x2.jpg" class="img-fluid" alt="Tattoo Image">
    </div>

    <div class="col-md-6">
      <form class="mt-3" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="mb-3">
          <label for="Name" class="form-label">Name</label>
          <input type="text" class="form-control" id="Name" placeholder="Enter your name" name="Name" [(ngModel)]="formData.Name" required>
          <div *ngIf="contactForm.controls['Name']?.invalid && contactForm.controls['Name']?.touched" class="text-danger">
            Name is required.
          </div>
        </div>
      
        <div class="mb-3">
          <label for="Phone" class="form-label">Phone</label>
          <input type="text" class="form-control" id="Phone" placeholder="Enter your phone number" name="Phone" [(ngModel)]="formData.Phone" required>
          <div *ngIf="contactForm.controls['Phone']?.invalid && contactForm.controls['Phone']?.touched" class="text-danger">
            Phone is required.
          </div>
        </div>
      
        <div class="mb-3">
          <label for="Email" class="form-label">Email</label>
          <input type="email" class="form-control" id="Email" placeholder="Enter your email" name="Email" [(ngModel)]="formData.Email" required>
          <div *ngIf="contactForm.controls['Email']?.invalid && contactForm.controls['Email']?.touched" class="text-danger">
            Valid email is required.
          </div>
        </div>
      
        <div class="mb-3">
          <label for="MESSAGE" class="form-label">How can I help you?</label>
          <textarea class="form-control" id="MESSAGE" rows="3" placeholder="Type your message here" name="Message" [(ngModel)]="formData.Message"></textarea>
        </div>


        <div *ngIf="loading" class="text-center mt-2">
          <div class="spinner-border text-primary" role="status"></div>
        </div>
  
        <button type="submit" class="btn btn-primary mt-2" [disabled]="contactForm.invalid">Submit</button>
      </form>
      
      <div class="d-flex justify-content-center align-items-center mt-4" id="icon-container">
    
     
      
      <div class="d-flex justify-content-center align-items-center mt-4">
        <div class="card-body d-flex flex-column align-items-center" id="facebook">
          <a href="https://www.facebook.com/sharan.mack?mibextid=LQQJ4d" target="_blank">
            <img class="img-fluid rounded" src="assets/facebook.png" alt="facebook Logo" width="50" height="59">
          </a>
        
        </div>

        <div class="card-body d-flex flex-column align-items-center" id="Instagram">
          <a href="https://instagram.com/sharanm_a_c_k?igshid=MzMyNGUyNmU2YQ%3D%3D&utm_source=qr" target="_blank">
            <img class="img-fluid rounded" src="assets/insta.png" alt="Instagram Logo" width="55" height="60">
          </a>
    
        </div>
      
        <div class="card-body d-flex flex-column align-items-center" id="Email">
          <a href="mailto:sharanmack06@gmail.com" target="_blank">
            <img class="img-fluid rounded" src="assets/email.png" alt="email Logo" width="50" height="50">
          </a>
        
        </div>
      
        <div class="card-body d-flex flex-column align-items-center" id="youtube">
          <a href="https://youtube.com/shorts/37wGvxfFi-c?si=9hUjXYddYqNhaAO9" target="_blank">
              <img class="img-fluid rounded" src="assets/youtube-logo.png" alt="YouTube Logo" width="85" height="85">
          </a>
      </div>
      
      </div>
    </div>
</div>

