.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  color: #333;
}

form {
  margin-top: 20px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
}

button:hover {
  background-color: #0056b3;
}


.d-flex.align-items-center {
  margin-top: 20px;
}

.box {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #131313;
  border-radius: 5px;
  text-align: center;
}

.box:hover {
  background-color: #0057b394;
}

.fab {
  font-size: 24px;
}


.card-body.d-flex.justify-content-center.align-items-center#youtube {
  background-color: #d5d1d143;
  margin-top: 20px;
  padding: 2px;
}


.text-white {
  color: #fff;
}

.img-fluid.rounded {
  border-radius: 10px;
}
