<app-navbar></app-navbar>

<div class="container px-4 px-lg-5">
   
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" [src]="currentImageUrl" alt="..." />
          </div>
          
        <div class="col-lg-5">
            <h1 class="font-weight-light stylish-heading">X-cars</h1>
            <p>The statement "Secondhand pieces have the most Soul" isn't false when it comes to cars. It's none less than a treasure hunt and when found from Xcars you get the t most valuable treasure with great soul.When every small purchase makes a big difference, Xcars can give you a bigger difference.Xcars make it more affordable than new kind, reduces the waste and is a ticket to the good life. Xcars is a platform providing you with many options which includes the selling and buying of used cars in an economically efficient way, allowing you to save your money on the new cars. </p>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0" style="font-size: large;">“The way to get started is to quit talking and begin doing.”</p></div>
    </div>






    