<app-navbar></app-navbar>

<div class="container px-4 px-lg-5">
    <!-- Heading Row1-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://wallpapercave.com/wp/uSqUooQ.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">J & B Autogarage</h1>
            <p>Used Car Market In India is Segmented by Vehicle Type (Hatchbacks, Sedans, and Sports Utility Vehicles), Vendor Type (Organized and Unorganized), and Fuel Type (Petrol and Diesel). The report offers the market sizes and forecast in value (USD billion) for all the above segments. Source: https://www.mordorintelligence.com/industry-reports/india-used-car-market.</p>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0" style="font-size: large;">“The way to get started is to quit talking and begin doing.”</p></div>
    </div>