img {
    width: 100%;
    height: 300px; 
    object-fit: cover; 
  }
  .stylish-heading {
    font-family: 'Helvetica', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #333; 
    text-transform: uppercase;

}