<div class="container px-4 px-lg-5">
    <!-- Heading Row1-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/1ebf5769530877.5b85b8b74e381.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">MACK TATTOO</h1>
            <p>A tattoo is a form of body modification made by inserting tattoo ink, dyes, and/or pigments, either indelible or temporary, into the dermis layer of the skin to form a design. Tattoo artists create these designs using several tattooing processes and techniques, including hand-tapped traditional tattoos and modern tattoo machines.</p>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0" style="font-size: large;">“The way to get started is to quit talking and begin doing.”</p></div>
    </div>