<!-- <app-navbar></app-navbar>
<div class="col-lg-12">
  <div class="image-container">
    <img class="img-fluid rounded mb-4 mb-lg-0 full-page-image" [src]="currentImageUrlLeft" alt="..." />
    <button class="like-button" (click)="likeImage(currentImageIndexLeft)">
      <svg xmlns="http://www.w3.org/2000/svg" fill="red" width="42" height="42" viewBox="0 0 24 24">
        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.57 0 3.07 0.73 4 1.86C13.43 3.73 14.93 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
      </svg>
    </button>
    <div class="likes-count">{{ likes[currentImageIndexLeft] }} Likes</div>
    
  </div>
  <br>
</div> -->








<app-navbar></app-navbar>
<div class="col-lg-12">
  <div class="image-container">
    <img class="img-fluid rounded mb-4 mb-lg-0 full-page-image" [src]="currentImageUrlLeft" alt="..." />
    <button class="like-button" (click)="likeImage(currentImageIndexLeft)" [style.color]="isLiked[currentImageIndexLeft] ? 'red' : 'white'">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="42" height="42" viewBox="0 0 24 24">
        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.57 0 3.07 0.73 4 1.86C13.43 3.73 14.93 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
      </svg>
    </button>
    <div class="likes-count">{{ likes[currentImageIndexLeft] }} Likes</div>
  </div>
  <br>
</div>

  

