



<!-- <app-navbar></app-navbar>
<div class="col-lg-12">
  <div class="image-container">
    <img class="img-fluid rounded mb-4 mb-lg-0 full-page-image" [src]="currentImageUrlLeft" alt="..." />
    <button class="like-button" (click)="likeImage(currentImageIndexLeft)" [style.color]="isLiked[currentImageIndexLeft] ? 'red' : 'white'">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="42" height="42" viewBox="0 0 24 24">
        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.57 0 3.07 0.73 4 1.86C13.43 3.73 14.93 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
      </svg>
    </button>
    <div class="likes-count">{{ likes[currentImageIndexLeft] }} Likes</div>
  </div>
  <br>
</div> -->

<app-navbar></app-navbar>
<br>
<div class="container d-flex align-items-center justify-content-center">
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="image-container">
          <img src="assets/mansory_ferrari_296_gtb_2023_car_4k_5k_hd_cars.jpg" class="img-fluid rounded mb-4 mb-lg-0 full-page-image" alt="...">
        </div>
        
        <div class="carousel-caption d-none d-md-block">
          <h5>Ferrari</h5>
        </div>
      </div>

      <div class="carousel-item">
        <div class="image-container">
          <img src="assets/green_bentley_continental_gt_le_mans_collection_car_4k_hd_cars.jpg" class="img-fluid rounded mb-4 mb-lg-0 full-page-image" alt="...">
        </div>
        
        <div class="carousel-caption d-none d-md-block">
          <h5>Bentley</h5>
        </div>
      </div>

      <div class="carousel-item">
        <div class="image-container">
          <img src="assets/black_mercedes_benz_s63_amg_car_hd_cars.jpg" class="img-fluid rounded mb-4 mb-lg-0 full-page-image" alt="...">
        </div>
        
 
        <div class="carousel-caption d-none d-md-block">
          <h5>BENZ</h5>
        </div>
      </div>
      <div class="carousel-item">
        <div class="image-container">
          <img src="assets/mansory_bentley_bentayga_speed_2022_4k_5k_hd_cars.jpg" class="img-fluid rounded mb-4 mb-lg-0 full-page-image" alt="...">
        </div>
        
        <div class="carousel-caption d-none d-md-block">
          <h5>Bentaygar</h5>
     
        </div>
      </div>
      <div class="carousel-item">
        <div class="image-container">
          <img src="assets/maserati_3500_gti_spyder_4k_5k_hd_cars.jpg" class="img-fluid rounded mb-4 mb-lg-0 full-page-image" alt="...">
        </div>
        
        <div class="carousel-caption d-none d-md-block">
          <h5>Maserati GTI</h5>
   
        </div>
      </div>
      <div class="carousel-item">
        <div class="image-container">
          <img src="assets/yellow_lamborghini_revuelto_2_car_4k_5k_hd_cars.jpg" class="img-fluid rounded mb-4 mb-lg-0 full-page-image" alt="...">
        </div>
        
        <div class="carousel-caption d-none d-md-block">
          <h5>Lamborghini</h5>
    
        </div>
      </div>
      <div class="carousel-item">
        <div class="image-container">
          <img src="assets/porsche_718_cayman_gt4_rs_manthey_kit_car_4k_8k_hd_cars.jpg" class="img-fluid rounded mb-4 mb-lg-0 full-page-image" alt="...">
        </div>
        
        <div class="carousel-caption d-none d-md-block">
          <h5>Porsche</h5>
   
        </div>
      </div>
     

      <div class="carousel-item">
        <div class="image-container">
          <img src="assets/grey_hamann_bmw_m4_competition_2022_4k_5k_hd_cars.jpg" class="img-fluid rounded mb-4 mb-lg-0 full-page-image" alt="...">
        </div>
        
        <div class="carousel-caption d-none d-md-block">
          <h5>BMW</h5>

        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
