<div class="car-upload-form">
    <h2>Upload Car Information</h2>
    <form (ngSubmit)="submitForm()" #carForm="ngForm">
      <div class="form-group">
       <h4> <label for="carName"> Name</label></h4>
        <input type="text" id="carName" name="carName" class="form-control" required [(ngModel)]="car.name">
      </div>
      <div class="form-group">
        <h4><label for="carModel"> Model</label></h4>
        <input type="text" id="carModel" name="carModel" class="form-control" required [(ngModel)]="car.model">
      </div>
      <div class="form-group">
       <h4> <label for="carPrice">Price</label></h4>
        <input type="number" id="carPrice" name="carPrice" class="form-control" required [(ngModel)]="car.price">
      </div>
      <div class="form-group">
        <h4><label for="contactDetails">More  Details</label></h4>
        <textarea id="contactDetails" name="contactDetails" class="form-control" required [(ngModel)]="car.contactDetails"></textarea>
      </div>
    <br>

    <div style="text-align: center">
        <div [innerHtml]="msg" *ngIf="msg" style="color: red;"></div>
        <div><img [src]="url" *ngIf="url"></div>
        <p class="custom-file-upload">
          <span>Choose File to upload images</span>
          <input type="file" (change)="selectFile($event)">
        </p>
      </div>
      <br>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>