




<!-- 
 <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-sm-2 col-auto px-0 collapse collapse-horizontal overflow-hidden" id="sidebar">
            <div class="list-group border-0 text-center text-sm-start min-vh-100" id="sidebar-menu">
                <a href="#" class="list-group-item border-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="fa fa-dashboard"></i> <span class="d-none d-sm-inline">Item 1</span> </a>
              

            </div>
        </div>
        <main class="col-sm col border-start ps-md-2 pt-2">
            <a href="" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none"><i class="fa fa-navicon fa-lg py-2 p-1"></i> Menu</a>
            <div class="page-header pt-3">
              
            </div>
            <p class="lead">.</p>
            <hr>
            <div class="row">
                <div class="col-12">
                    
                </div>
            </div>
        </main>
    </div>
</div> 
 -->

















 <!-- <button cButton cOffcanvasToggle="OffcanvasDark">Dark offcanvas</button>



     <h5 cOffcanvasTitle>Dark Offcanvas Header</h5>
     <button
       cButtonClose
       white
       cOffcanvasToggle="OffcanvasDark"
       aria-label="Close"
     ></button>
 
     <p>
       Content for the dark offcanvas goes here.
     </p> -->

 